<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/pop_out.css" type="text/css" />
	<script src="../js/jquery.min.js"></script>
	<script src="../js/jquery.validate.min.js"></script>
</head>

<body class="container cf div-table">
    <ul>
        <li>
            <img src="../public/icon.png" id="logo"> <span id="logoText" class="xi">MyDL </span>
        </li>
    </ul>
<!-- DONT EDIT ABOVE -->
<div id='main' class="visible">
    <form method='post' id="loginForm">

        <ul>
            <li>
				<label for="userMail" class="errorLabel"></label>
                <input type="email" name="userMail" id="userMail" placeholder="yourname@email.com" required>
            </li>
            <li>
                <input type="password" name="userPassword" id="userPassword" placeholder="password" required>
            </li>
            <li>
                <input type="submit" class="blue" id="log" value="Login"> 
                <input type="submit" class="green" id="reg" value="Register">
                <input type="submit" class="red" id="fpw" value="Forgot?">
            </li>
        </ul>
    </form>
</div>
<div id='register' style='display:none'>
    <form method='post' id="registerForm">
        <ul>
            <li>
                <input type="email" name="userMail" id="userMail" placeholder="yourname@email.com" required>
            </li>
            <li>
                <input type="email" name="confirmMail" id="confirmMail" placeholder="confirm yourname@email.com" required>
            </li>
            <li>
                <input type="password" name="userPassword" id="userPassword" placeholder="password" required>
            </li>
             <li>
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="confirm your Password" required>
            </li>
            <li>
                <input type="submit" class="blue" id="registerBack" value="Back">   
                <input type="submit" class="green" id="reg" value="Register">
            </li>
        </ul>
    </form>
</div>
<div id='reset' style='display:none'>
    <form method='post' id="resetForm">
        <ul>
            <li>
                <input type="email" name="userMail" id="userMail" placeholder="yourname@email.com" required>
            </li>
                <input type="submit" class="blue" id="resetBack" value="Back">
                <input type="submit" class="red" id="fpw" value="Reinitialiser">
            </li>
        </ul>
    </form>
</div>
<div id='authenticated' style='display:none'>
    <img src="../public/auth-ok.png">
</div>
<script src="../js/background.js"></script>
  
</body>
</html>